<md-card>
    <md-tab-group>
        <md-tab>
            <template md-tab-label>
                User Management
            </template>
            <template md-tab-content>
                <app-user-management></app-user-management>
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Role Management
            </template>
            <template md-tab-content>
                <app-role-management></app-role-management>
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Permission Management
            </template>
            <template md-tab-content>
                <app-permission-management></app-permission-management>
            </template>
        </md-tab>
    </md-tab-group>
</md-card>
