<md-card>
    <md-tab-group>
        <md-tab>
            <template md-tab-label>
                User Management
            </template>
            <template md-tab-content>
                <md-card>
                    <button md-button>FLAT</button>
                    <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
                    <button md-raised-button color="primary">PRIMARY RAISED</button>
                    <button md-raised-button color="accent">ACCENT RAISED</button>
                </md-card>
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Role Management
            </template>
            <template md-tab-content>
                <p>Container for Role Management</p>
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Permission Management
            </template>
            <template md-tab-content>
                <p>Container for Permission Management</p>
            </template>
        </md-tab>
    </md-tab-group>
</md-card>
